/* Everything */
* {
    font-family: sans-serif;
    background: #1F2937;
}

/* Header */
 .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 48px;
    margin-top: -48px;
    margin-bottom: -48px;
 }

 a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 14px;
    padding: 10px;
 }

 .header h1 {
    color: #F9FAF8;
    font-size: 24px;
 }

 /* Section 1 */
/* Whole section */
 .section1 {
    display: flex;
    margin: 2px;
    padding: 48px;
    gap: 30px;
    margin-bottom: 90px;
 }
 
 /* Text container */
 .container1 {
    flex: 1;
 }

 .section1 h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
 }

 .section1 p {
    color: #E5E7EB;
    font-size: 18px;
 }

 button {
    background: #3882f6;
    color: #E5E7EB;
    font-size: 14px;
    border: none;
    border-radius: 6px;
    border-color: #3882f6;
    padding: 5px 25px;

 }

 /* Placeholder */
 .placeholder {
    background: #93a1b1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
 }

 /* Section 2 */
 #section2 {
   background: white;
   justify-content: center;
 }

 #section2 h1 {
   background: transparent;
   text-align: center;
   color: #1F2937;
   font-size: 36px;
   font-weight: 900;
 }


.container2 {
   background: white;
   display: flex;
   padding: 100px;
   margin-top: -120px;
   margin-bottom: -50px;
}

/* All image boxes */
.img {
   padding: 20px;
   background: white;
   border-style:solid;
   border-color: #3882f6;
   border-width: 3px;
   border-radius: 10px;
   justify-items: center;
   color: transparent;
   text-align: center;
   flex-shrink: 1;
   height: 75px;
   width:75px;
}

/* All image info boxes */
.imginfo {
   background: white;
   color:#93a1b1;
   text-align: center;
   margin-top: -10px;
   font-size: 12px;
}

/* Individual image info boxes */
 
.imginfo1{
   background: white;
   flex: 1;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding:10px;
}
.imginfo2{
   background: white;
   flex: 1;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding:10px;
}
.imginfo3{
   background: white;
   flex: 1;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding:10px;
}
.imginfo4{
   background: white;
   flex: 1;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding:10px;
}

/* Section 3 */
.section3 {
   background: #E5E7EB;
   padding: 50px 200px 50px 200px;
}

.quote {
   background: transparent;
   font-size: 36px;
   font-weight: 100;
}

em {
   background: transparent;
}
.author {
   background: transparent;
   text-align: right;
   font-size: 18px;
   margin-top: -15px;
}
 
/* Section 4 */
/* White outer portion */
.section4 {
   background: white;
   padding:100px;
}

/* Blue inner portion */
.container3 {
   background: #3882f6;
   border-radius: 8px;
   display: flex;
   justify-content: center;
   gap: 100px;
   padding: 20px 40px 20px 40px;
}

/* Button */
.section4 button {
   border: none;
   border: solid;
   border-color: white;
   border-width: 1px;
   height: 30px;
   font-size: 14px;
}

.section6 {
   background: transparent;
   display: flex;
   align-items: center;
}

/* Just the white text */
.section5 {
   background: transparent;

}

.section5 h1 {
   color: #F9FAF8;
   background: transparent;
   font-size: 18px;
   font-weight: 500;
}

.section5 p {
   color: #F9FAF8;
   background: transparent;
   font-size: 12px;
   font-weight: 500;
   margin-top: -5px;
}

/* Footer */
.footer {
   color: #F9FAF8;
   text-align: center;
   font-size: 12px;
   padding: 15px;
}